body {
    font-family: "Times New Roman";
    background-color: #F2FFFC;
}
h1 {
    font-size: 60px;
    background-color: #851944;
    color: #FAFFFA;
    text-align: center;
    font-family: "Arial";
}
h2 {
    font-size: 16px;
    font-family: "Arial";
}
p {
    text-align: justify;
}
